name: Docker Image CI/CD

on:
  push:
    branches: 
      - "main"
    paths:
      - 'Docker-files/**'
      - '.github/workflows/docker-image.yaml'


jobs:

  build-dev:
    if: github.ref == 'refs/heads/dev'
    runs-on:
      - self-hosted
      - ochuko
    environment: dev
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Extract short SHA
      id: sha
      run: echo "short_sha=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT
      
    - name: Build and push vprofiledb image
      uses: docker/build-push-action@v5
      with:
        context: ./Docker-files/db
        file: ./Docker-files/db/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofiledb2:dev-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofiledb2:dev-${{ steps.sha.outputs.short_sha }}
      
    - name: Build and push vprofileapp image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Docker-files/app/multistage/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofileapp2:dev-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofileapp2:dev-${{ steps.sha.outputs.short_sha }}
      
    - name: Build and push vprofileweb image
      uses: docker/build-push-action@v5
      with:
        context: ./Docker-files/web
        file: ./Docker-files/web/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofileweb2:dev-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofileweb2:dev-${{ steps.sha.outputs.short_sha }}

  build-staging:
    if: github.ref == 'refs/heads/staging'
    runs-on:
      - self-hosted
      - ochuko
    environment: staging
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Extract short SHA
      id: sha
      run: echo "short_sha=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT
      
    - name: Build and push vprofiledb image
      uses: docker/build-push-action@v5
      with:
        context: ./Docker-files/db
        file: ./Docker-files/db/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofiledb2:staging-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofiledb2:staging-${{ steps.sha.outputs.short_sha }}
      
    - name: Build and push vprofileapp image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Docker-files/app/multistage/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofileapp2:staging-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofileapp2:staging-${{ steps.sha.outputs.short_sha }}
      
    - name: Build and push vprofileweb image
      uses: docker/build-push-action@v5
      with:
        context: ./Docker-files/web
        file: ./Docker-files/web/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofileweb2:staging-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofileweb2:staging-${{ steps.sha.outputs.short_sha }}

  build-prod:
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master' || github.ref == 'refs/heads/docker-hub'
    runs-on:
      - self-hosted
      - ochuko
    environment: prod
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Extract short SHA
      id: sha
      run: echo "short_sha=${GITHUB_SHA:0:7}" >> $GITHUB_OUTPUT
      
    - name: Build and push vprofiledb image
      uses: docker/build-push-action@v5
      with:
        context: ./Docker-files/db
        file: ./Docker-files/db/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofiledb2:prod-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofiledb2:prod-${{ steps.sha.outputs.short_sha }}
      
    - name: Build and push vprofileapp image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Docker-files/app/multistage/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofileapp2:prod-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofileapp2:prod-${{ steps.sha.outputs.short_sha }}
      
    - name: Build and push vprofileweb image
      uses: docker/build-push-action@v5
      with:
        context: ./Docker-files/web
        file: ./Docker-files/web/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/vprofileweb2:prod-latest,${{ secrets.DOCKERHUB_USERNAME }}/vprofileweb2:prod-${{ steps.sha.outputs.short_sha }}
